.inicio{
    margin-top: 70px;
}
.lista-principal {
    display: flex;
    justify-content: center;
  }
  
  .item-lista {
    display: block;
    margin-bottom: 10px;
    border: 1px solid;
    padding: 10px;
    max-width: 300px;
  }
  