* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #353535;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  margin: 10px;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /*display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  overflow-x: hidden;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #66BF23;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #D3F263;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f9f9f9;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container{
  width: 320px;
}

.bar{
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background-color: #353535;
  margin-bottom: 5px;
}

.progress{
  height: 100%;
  border-radius: 10px;
  background-color: #D3F263;
}

.progress-label{
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.bidbutton{
  margin-right: 5px;
  width: 75px;
}

.submitbutton{
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  font-weight: bold;
}

.centeredcontainer{
  align-items: center;
  justify-content: center;
  display: flex;
  place-items: center;
}

.moneycontainer{
  background-color: #038C4C;
  border-radius: 5px;
  padding: 10px;
}

.pagecontainer{
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.nav {
  width: 100%;
  height: 70px;
  background-color: #EBEBEB;
  z-index: 1000;
  position: fixed;
}