*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container_deploy{
    top: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.table{
    border: 1;
    margin: auto;
    margin-top: 50px;
    height: 100%;
    width: 50%;
    padding: 40px;
    background-color:  #eee;
    border-radius: 40px;
}

.table_th {
    color: #444;
    font-weight: 500;
    font-size: 2rem;
}

.table_th:hover {
    color: #66BF26;
}

.table-row {
    border-bottom: 1px solid #e4e9ea;
    background-color: #fff;
}
.table-row_td {
    color: #444;
    font-size: 1.5rem;    
}

.table-row_td a {
    color: #66BF26;
}

.table-row_td a:hover {
    color: #9eabb4;
}

.button_create {
    margin-top: 20px;
    background: #eee;
    color: #444;
    font-size: 1rem;
    border-color: white;
    margin-bottom: 30.5%;
}

.button_create:hover {
    background: linear-gradient(to left, #D3F263, #66BF26);
    border-color: #fff;    
}

