.casilla-blanca{
    background-color: #B3B3B3;
    border-radius: 0px;
    /* Establecer tamaño: */
    width: 60px;
    height: 60px;
    overflow: auto;
    /* Centrar texto: */
    display: flex;
    justify-content: center;
    align-items: center;
}

.casilla-negra{
    background-color: #353535;
    border-radius: 0px;
    /* Establecer tamaño: */
    width: 60px;
    height: 60px;
    overflow: auto;
    /* Centrar texto: */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B3B3B3;
}

.casilla-inicial{
    background-color: #038C4C;
    border-radius: 0px;
    /* Establecer tamaño: */
    width: 60px;
    height: 60px;
    overflow: auto;
    /* Centrar texto: */
    display: flex;
    justify-content: center;
    align-items: center;
    /* agregar foto del go del monopoly ecicion trucha */
}

.casilla-final{
    background-color: #FF5B51;
    border-radius: 0px;
    /* Establecer tamaño: */
    width: 60px;
    height: 60px;
    overflow: auto;
    /* Centrar texto: */
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
}

.tablero-container{
    display: grid;
    place-items: center;
    margin-bottom: 10px;
}

